Hola! {{ usuario }}, usted se ha registrado recientemente en sistema WEB MercuryMusic.
Para completar su registro de haga clic en el siguiente enlace <a href="{{ ruta }}?token={{ token }}">Completa Registro</a>